<div *ngIf="searchTerm">
  <div>
    <h5>Search results for "{{searchTerm}}"</h5>
  </div>
  <div class="card card-body">
    <div *ngIf="(mfList | async)?.length>0">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            Scheme Id
          </th>
          <th>
            Scheme Code
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mf of mfList | async">
          <td>
            {{mf.schemeCode}}
          </td>
          <td>
            {{mf.schemeName}}
          </td>
          <td>
            <button class="btn btn-info" style="margin-left: 10px" (click)="showDetails(mf.schemeCode)">Details</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="(mfList | async)?.length==0">
      <h5>No search results found</h5>
      Try other keyword to search!
    </div>
  </div>
</div>
