<div *ngIf="mfDetail">
  <div>
    <h2>MF Detail</h2>
  </div>
  <div class="card card-body">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Fund House</td><td>{{mfDetail.meta.fund_house}}</td>
      </tr>
      <tr>
        <td>Scheme Type</td><td>{{mfDetail.meta.scheme_type}}</td>
      </tr>
      <tr>
        <td>Schema Category</td><td>{{mfDetail.meta.scheme_category}}</td>
      </tr>
      <tr>
        <td>Schema Code</td><td>{{mfDetail.meta.scheme_code}}</td>
      </tr>
      <tr>
        <td>Schema Name</td><td>{{mfDetail.meta.scheme_name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div align="center">
    <button (click)="backToList()" class="btn btn-info">Back to Search</button>
  </div>
</div>
