<div class="card-body">
  <div>
    Search Mutual Fund
  </div>
  <div>
    <table>
      <tr>
        <td width="100%">
          <div class="form-group">
            <input class="form-control" type="text" id="searchTerm" name="searchTerm" ng-required="true" #searchTerm (keydown.enter)="submitQuery(searchTerm.value)"/>
          </div>
        </td>
        <td>
          <div class="form-group">
            <button type="submit" (click)="submitQuery(searchTerm.value)" class="btn btn-info">Search</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
